@model WebApplication.Web.Models.User

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome @Model.Username</h2>

@if (Model.Role == "Admin")
{

    <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg">Register an Employee</a>
}

@if (Model.Role == "Employee" || Model.Role == "Member")
{

    <a asp-controller="Account" asp-action="Profile" class="btn btn-primary btn-lg">View your Profile</a>
}

@if (Model.Role == "Member")
{

    <a asp-controller="MemberInfo" asp-action="MemberTimeLog" class="btn btn-primary btn-lg">CheckIn/CheckOut</a>
    <a asp-controller="Gym" asp-action="ViewEquipments" class="btn btn-primary btn-lg">View Gym Equipment</a>

}
@if (Model.Role == "Employee")
{

    <a asp-controller="MemberInfo" asp-action="EmployeeTimeLog" class="btn btn-primary btn-lg">CheckIn/CheckOut a Gym Member</a>
}

@if (Model.Role == "Employee" || Model.Role == "Admin")
{

    <a asp-controller="Gym" asp-action="ViewEquipments" class="btn btn-primary btn-lg">View/Edit Gym Equipment</a>
}



