
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
 
    <h2>The Best Gym Tracker Website of all TIME!!</h2>

    <h3>for realz it is..</h3>
    

</div>
<h1>this is our home page..</h1>
