@model WebApplication.Web.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Home Page";
}
@*<<<<<<< HEAD
    <div>
        <h1><img class="logo_pic" src="~/images/Logo/logo.png" alt="This is Our Logo Picture" /></h1>
        <h2>The Cloud Gym Tracker</h2>
        <h3>Best Place To Keep All Your Gym Visits</h3>
    =======*@

<div class="jumbotron bg-cover">

    <h2>The Best Gym Tracker Website of all TIME!!</h2>

    <h3>for realz it is..</h3>




</div>

