
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1><img class="logo_pic" src="~/images/Logo/logo.png" alt="This is Our Logo Picture" /></h1>
    <h2>The Cloud Gym Tracker</h2>
    <h3>Best Place To Keep All Your Gym Visits</h3>
    


</div>

