@model User
@{
    ViewData["Title"] = "_Navbar";
}



@if (Model == null)
{

    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
}
else if (Model.Role == "Admin")
{

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome Admin: @Model.Username<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Account" asp-action="Index">Admin Page</a></li>
            <li><a asp-area="" asp-controller="MemberInfo" asp-action="ViewSchedules">View Gym Schedules</a></li>
            <br />
            <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
        </ul>
    </li>
   

}
else
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome @Model.Username<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Account" asp-action="Index">@Model.Username</a></li>
            <li><a asp-area="" asp-controller="MemberInfo" asp-action="ViewSchedules">View Gym Schedules</a></li>
            @if (Model.Role == "Member")
            {
                <li><a asp-area="" asp-controller="MemberInfo" asp-action="MemberTimelog">Check In/Check Out</a></li>
                <li><a asp-area="" asp-controller="Gym" asp-action="ViewEquipmentMember">View/Use Gym Equipment</a></li>
            }
            else if (Model.Role == "Employee")
            {
                <li><a asp-area="" asp-controller="MemberInfo" asp-action="EmployeeTimelog">Check In/Check Out Gym member</a></li>
                <li><a asp-area="" asp-controller="Gym" asp-action="ViewEquipments">View/Edit Gym Equipment</a></li>
            }

            <br />
            <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
        </ul>
    </li>
    

    @*<li><a asp-area="" asp-controller="Account" asp-action="Index">Welcome @Model.Username</a></li>
    <li><a asp-area="" asp-controller="MemberInfo" asp-action="ViewSchedules">View Gym Schedules</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
    @if (Model.Role == "Member")
    {
        <li><a asp-area="" asp-controller="MemberInfo" asp-action="MemberTimelog">Check In/Check Out</a></li>
    }
    else if (Model.Role == "Employee")
    {
        <li><a asp-area="" asp-controller="MemberInfo" asp-action="EmployeeTimelog">Check In/Check Out Gym member</a></li>
    }*@

}