@model WebApplication.Web.Models.MemberInfo.Timelog

@{
    ViewData["Title"] = "TimeLog";
}

<h2>Member Time Log</h2>

<h4>Welcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">

            <a asp-controller="MemberInfo" asp-action="CheckIn" asp-route-id="@Model.MemberId" class="btn btn-default">Check In</a>
            <a asp-controller="MemberInfo" asp-action="CheckOut" asp-route-id="@Model.MemberId" class="btn btn-default">Check Out</a>

        </div>
    </div>
</div>


