@model WebApplication.Web.Models.MemberInfo.Timelog

@{
    ViewData["Title"] = "TimeLog";
}

<h2>Member Time Log</h2>

<h4>Welcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @*@if (Model.IsCheckedIn)
            {*@
                <a asp-controller="MemberInfo" asp-action="CheckOut" asp-route-id="@Model.MemberId" class="btn btn-default">check out</a>
                @*}
                else
                {*@
                <a asp-controller="MemberInfo" asp-action="CheckIn" asp-route-id="@Model.MemberId" class="btn btn-default">check in</a>
                @*}*@
        </div>
    </div>
</div>


