@model WebApplication.Web.Models.MemberInfo.Timelog

@{
    ViewData["Title"] = "TimeLog";
}

<h2>TimeLog</h2>

<h4>Welcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TimeLog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Check In" asp-for="CheckIn" class="btn btn-default" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Check Out" asp-for="CheckOut" class="btn btn-default" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


