@model WebApplication.Web.Models.GymDetails.ViewScheduleModel

@{
    ViewData["Title"] = "ViewSchedules";
}

<h2>View Schedules</h2>

<p>
    <a asp-controller="MemberInfo" asp-action="AddSchedule">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.AllSchedules)
        {
            <tr>


                <td>@schedule.Name</td>

                <td>@schedule.Description</td>
                <td>@schedule.Date</td>
                <td><a asp-controller="MemberInfo" asp-action="EditSchedule" asp-route-id="@schedule.Id" class="btn btn-lg">Edit</a></td>
            </tr>
        }
    </tbody>
</table>


