@model WebApplication.Web.Models.GymDetails.ViewEquipmentMember
@{
    ViewData["Title"] = "ViewEquipmentGymMember";
}

<h2>Gym Equipment</h2>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Proper Usage</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model.AllEquipments)
        {
            <tr>
                <td>@equipment.Name</td>

                <td>@equipment.ProperUsage</td>
                <td id="gymequipmentmember"><img src="~/images/gym_equipment/@(equipment.PhotoPath)" /></td>
                <td>
                    <a asp-controller="Gym" asp-action="SetMemberEquipmentUsage" asp-route-id="@equipment.Id" class="btn btn-primary">Log Usage</a> 
                </td>
            </tr>
        }
    </tbody>
</table>