@model WebApplication.Web.Models.GymDetails.ViewEquipmentsModel
@{
    ViewData["Title"] = "ViewEquipments";
}

<h2>Gym Equipment</h2>

<p>
    <a asp-controller="Gym" asp-action="AddGymEquipment">Add Equipment</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Proper Usage</th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model.AllEquipments)
        {
        <tr>

            
            <td>@equipment.Name</td>

            <td>@equipment.ProperUsage</td>
            <td id="gymequipmentmember"><img src="~/images/gym_equipment/@(equipment.PhotoPath).png" /></td>
            
     
            <td>
               
                <a asp-controller="Gym" asp-action="EditGymEquipment" asp-route-id="@equipment.Id" class="btn btn-lg">Edit</a> 
                
            </td>
        </tr>
        }
    </tbody>
</table>




